

<body>
  <% flash.each do |message_type, message| %>
    <%= message %>
  <% end %>
</body>

<P>
  <strong>Title:</strong>
  <%= @book.title %>
</P>
<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>
<%= link_to "Edit", editbook_path(@book.id) %>
|
<%= link_to "Back", "/books" %>